if ARCH_SNAPDRAGON

config SYS_SOC
	default "snapdragon"

config SYS_VENDOR
	string "Snapdragon board vendor"
	default "qualcomm"
	help
	  Allows to specify vendor for the Snapdragon SoCs based boards.
	  Based on this option board/<CONFIG_SYS_VENDOR>/<CONFIG_SYS_BOARD>
	  will be used as the custom board directory.

config SYS_MALLOC_LEN
	default 0x10000000

config SYS_MALLOC_F_LEN
	default 0x2000

config SPL_SYS_MALLOC_F
	default y

config SPL_SYS_MALLOC_F_LEN
	default 0x2000

config SYS_MALLOC_LEN
	default 0x800000

config LNX_KRNL_IMG_TEXT_OFFSET_BASE
	default 0x80000000

config OF_LIVE_QCS615
        bool "Enable OF LIVE QCS615"
        select OF_LIVE
        help
          Say Y here to enable support for OF LIVE fixups
          on the Snapdragon QCS615 SoC.

config OF_LIVE_SA8775P
        bool "Enable OF LIVE SA8775P"
        select OF_LIVE
        help
          Say Y here to enable support for OF LIVE fixups
          on the Snapdragon SA8775 SoC.

config OF_LIVE_SC7280
        bool "Enable OF LIVE SC7280"
        select OF_LIVE
        help
          Say Y here to enable support for OF LIVE fixups
          on the Snapdragon SC7280 SoC.

config QCOM_USB_FIXUP
	bool "Enable USB speed fixup for Qualcomm platforms"
	default y
	help
	  Enable runtime fixup of USB device tree nodes to limit USB to
	  high-speed mode. This is needed on some Qualcomm platforms where
	  U-Boot doesn't support super-speed USB.
	  Disable this for platforms that have proper super-speed USB support
	  in U-Boot.

config SYS_BOARD
	string "Snapdragon SoCs based board"
	help
	  Allows to specify the Snapdragon SoCs based board name.
	  Based on this option board/<CONFIG_SYS_VENDOR>/<CONFIG_SYS_BOARD>
	  will be used as the custom board directory.

config SYS_CONFIG_NAME
	string "Board configuration name"
	default SYS_BOARD if SYS_BOARD != ""
	default "qcom"
	help
	  This option contains information about board configuration name.
	  Based on this option include/configs/<CONFIG_SYS_CONFIG_NAME>.h header
	  will be used for board configuration.

config QCOM_FIT_MULTIDTB
	bool "Enable FIT multi-DTB selection for Qualcomm platforms"
	depends on FIT
	help
	  Enable FIT multi-DTB selection for Qualcomm platforms.
	  This allows U-Boot to select the appropriate device tree
	  from a FIT image.

config QCOM_IMEM_SIZE
	hex "QCOM IMEM size"
	default 0x0
	help
	  Platform-specific IMEM size for calculating shared IMEM base address.

endif
