// SPDX-License-Identifier: GPL-2.0-only
/*
* Copyright (c) 2023-2024, Qualcomm Innovation Center, Inc. All rights reserved.
*/

#include "devsoc-default.dts"

/ {
	config_name = "config-emulation";

	soc: soc@0 {
		mdio: mdio@90000 {
			pinctrl-names = "default";
			status = "disabled";

			phy0: phy@0 {
				id = <1>;
			};

			phy1: phy@1 {
				id = <2>;
			};

			phy2: phy@2 {
				id = <3>;
			};
		};

		ethernet: nss-switch {
			qti,emulation;
			pinctrl-names = "default";
			phy-handle0 = <&phy0>;
			phy-handle1 = <&phy1>;
			phy-handle2 = <&phy2>;
			status = "okay";
		};
	};
};
