// SPDX-License-Identifier: GPL-2.0-only
/*
* Copyright (c) 2023, Qualcomm Innovation Center, Inc. All rights reserved.
*/

/dts-v1/;

#include "skeleton64.dtsi"
#include <dt-bindings/pinctrl/pinctrl-ipqsoc.h>
#include <dt-bindings/clock/gcc-devsoc.h>
#include <dt-bindings/reset/devsoc-reset.h>

/ {

	model = "Qualcomm Technologies, Inc. DEVSOC";
	compatible = "qti,devsoc";

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;

		smem_mem: smem_region@8A800000 {
			reg = <0x8A800000 0x100000>;
			no-map;
		};
	};

	smem {
		compatible = "qcom,smem";
		memory-region = <&smem_mem>;
		u-boot,dm-pre-reloc;
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	soc: soc@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";

		tlmm: pinctrl@1000000 {
			compatible = "qti,ipqsoc-pinctrl";
			reg = <0x1000000 0x400000>;
			gpio-controller;
			gpio-count = <49>;
			gpio-bank-name="soc";
			#gpio-cells = <2>;
			u-boot,dm-pre-reloc;
		};

		gcc: clock-controller@1800000 {
			compatible = "qti,gcc-devsoc";
			reg = <0x1800000 0x40000>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			#clock-cells = <1>;
			u-boot,dm-pre-reloc;
		};

		qupv3: geniqup@1ac0000 {
			compatible = "qcom,geni-se-qup";
			reg = <0x1ac0000 0x2000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			status = "disabled";

			se0_uart0: serial@1a80000 {
				compatible = "qcom,msm-geni-uart";
				reg = <0x1a80000 0x4000>;
				reg-names = "se_phys";
				clocks = <&gcc GCC_QUPV3_UART0_CLK>;
				clock-names = "se-clk";
				status = "disabled";
				u-boot,dm-pre-reloc;
			};

			se1_uart1: serial@1a84000 {
				compatible = "qcom,msm-geni-uart";
				reg = <0x1a84000 0x4000>;
				reg-names = "se_phys";
				clocks = <&gcc GCC_QUPV3_UART1_CLK>;
				clock-names = "se-clk";
				status = "disabled";
			};
		};
	};
};
