// SPDX-License-Identifier: GPL-2.0-only
/*
* Copyright (c) 2023, Qualcomm Innovation Center, Inc. All rights reserved.
*/

#include "ipq5332-default.dts"

/ {
	config_name = "config@db-mi02.1", "config-db-mi02.1";

	soc: soc {
		tlmm: pinctrl@1000000 {
			mdio_pinmux: mdio {
				mdc {
					pins = "GPIO_27";
					function = "mdc_1";
					drive-strength = <DRIVE_STRENGTH_8MA>;
					bias-disable;
				};

				mdio {
					pins = "GPIO_28";
					function = "mdio_1";
					drive-strength = <DRIVE_STRENGTH_8MA>;
					bias-pull-up;
				};
			};
		};

		mdio: mdio@90000 {
			pinctrl-names = "default";
			pinctrl-0 = <&mdio_pinmux>;
			status = "okay";

			phy0: phy@ff {
				reg = <0xFF>;
				phy_id = <5>;
				id = <1>;
				uniphy_id = <0>;
				uniphy_type = <0>;
				max_speed = <10000>;
				xgmac;
			};

			phy1: phy@ff {
				reg = <0xFF>;
				phy_id = <5>;
				id = <2>;
				uniphy_id = <1>;
				uniphy_type = <0>;
				max_speed = <10000>;
				xgmac;
			};
		};

		ethernet: nss-switch {
			phy-handle0 = <&phy0>;
			phy-handle1 = <&phy1>;
			status = "okay";
		};
	};
};
