// SPDX-License-Identifier: GPL-2.0-only
/*
* Copyright (c) 2023-2024, Qualcomm Innovation Center, Inc. All rights reserved.
*/

#include "devsoc-default.dts"

/ {
	config_name = "config-rdp487";

	soc: soc@0 {
		qusb2_phy_1: qusb2@71000 {
			status = "okay";
		};

		usb2_0: usb@1ef8800 {
			status = "okay";

			dwc3@1e00000 {
				phys = <&qusb2_phy_1>;
				phy-names = "usb2-phy";
				maximum-speed = "high-speed";
			};
		};

		pcie2_phy: phy@f4000 {
			status = "okay";
		};

		pcie2: pcie@50000000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pcie2_pinmux>;
			perst_gpio = <&tlmm 31 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
	};
};
