// SPDX-License-Identifier: GPL-2.0-only
/*
* Copyright (c) 2023, Qualcomm Innovation Center, Inc. All rights reserved.
*/

#include "ipq9574-db-al02-c1.dts"

/ {
	config_name = "config@db-al02-c3", "config-db-al02-c3";

};

&phy_rst_pinmux {
	/delete-node/ qti_8081_rst;

	qti_sfp_rst {
		pins = "GPIO_61";
		drive-strength = <DRIVE_STRENGTH_8MA>;
		bias-pull-up;
	};
};

/delete-node/ &phy4;

&mdio {
	phy4: phy@ff {
		phy-reset-gpio = <&tlmm 61 0>;
		reg = <0xFF>;
		phy_id = <5>;
		id = <5>;
		uniphy_id = <1>;
		uniphy_type = <1>;
		max_speed = <10000>;
		xgmac;
	};
};
