// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025, Qualcomm Innovation Center, Inc. All rights reserved.
 */

/ {
	smem {
		compatible = "qcom,smem";
		memory-region = <&smem_region>;
		hwlocks = <&tcsr_mutex 3>;
		bootph-all;
	};

	/delete-node/ idle-states;
	/delete-node/ domain-idle-states;

	psci {
		cpu_pd0: power-domain-cpu0 {
			/delete-property/ domain-idle-states;
		};

		cpu_pd1: power-domain-cpu1 {
			/delete-property/ domain-idle-states;
		};

		cpu_pd2: power-domain-cpu2 {
			/delete-property/ domain-idle-states;
		};

		cpu_pd3: power-domain-cpu3 {
			/delete-property/ domain-idle-states;
		};

		cpu_pd4: power-domain-cpu4 {
			/delete-property/ domain-idle-states;
		};

		cpu_pd5: power-domain-cpu5 {
			/delete-property/ domain-idle-states;
		};

		cpu_pd6: power-domain-cpu6 {
			/delete-property/ domain-idle-states;
		};

		cpu_pd7: power-domain-cpu7 {
			/delete-property/ domain-idle-states;
		};

		cluster_pd: power-domain-cluster {
			/delete-property/ domain-idle-states;
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x7a00000>,
		      <0x0 0x89600000 0x0 0x30100000>,
		      <0x0 0xc0000000 0x0 0xc0000000>,
		      <0x1 0x80000000 0x1 0x00000000>;
	};

	reserved-memory {
		aop_cmd_db_mem: aop-cmd-db@85f20000 {
			compatible = "qcom,cmd-db";
			reg = <0x00 0x85f20000 0x00 0x20000>;
			no-map;
		};
		smem_region: smem@86000000 {
			/delete-property/ compatible;
			/delete-property/ hwlocks;
		};
	};


	soc@0 {
		apps_smmu: iommu@15000000 {
			bootph-all;
		};

		tlmm: pinctrl@3100000 {
			qup_uart0_tx: qup-uart0-tx-state {
				bootph-all;
			};

			qup_uart0_rx: qup-uart0-rx-state {
				bootph-all;
			};
		};

		sdhc_1: mmc@7c4000 {
			status = "okay";
		};

		sdhc_2: mmc@8804000 {
			status = "disabled";
		};

		ufs_mem_hc: ufshc@1d84000 {
			/delete-property/ clocks;
			/delete-property/ clock-names;
			/* Keep only the clocks that are implemented in U-Boot clock driver */
			clocks = <&gcc GCC_UFS_PHY_AXI_CLK>,
				 <&gcc GCC_AGGRE_UFS_PHY_AXI_CLK>,
				 <&gcc GCC_UFS_PHY_AHB_CLK>,
				 <&gcc GCC_UFS_PHY_UNIPRO_CORE_CLK>,
				 <&gcc GCC_UFS_PHY_ICE_CORE_CLK>,
				 <&gcc GCC_UFS_PHY_TX_SYMBOL_0_CLK>,
				 <&gcc GCC_UFS_PHY_RX_SYMBOL_0_CLK>;
			clock-names = "core_clk",
				      "bus_aggr_clk",
				      "iface_clk",
				      "core_clk_unipro",
				      "ice_core_clk",
				      "tx_lane0_sync_clk",
				      "rx_lane0_sync_clk";
			/delete-property/ operating-points-v2;
			phys = <&ufs_mem_phy_lanes>;
			freq-table-hz = <50000000 200000000>,
					<0 0>,
					<0 0>,
					<37500000 150000000>,
					<0 0>,
					<0 0>,
					<0 0>,
					<75000000 300000000>;

		};

		ufs_mem_phy: phy@1d87000 {
			reg = <0x0 0x01d87000 0x0 0x1c4>;
                        ranges;
			/delete-property/ clocks;
			/delete-property/ clock-names;
			clock-names = "ref_aux";
			clocks = <&gcc GCC_UFS_PHY_PHY_AUX_CLK>;
                        ufs_mem_phy_lanes: phy@1d87400 {
                                reg = <0x0 0x1d87400 0x0 0x12c>,
                                      <0x0 0x1d87600 0x0 0x200>,
                                      <0x0 0x1d87c00 0x0 0x1b8>;
                                #phy-cells = <0>;
                        };
                };

		/* Remove GCC_USB3_PRIM_CLKREF_CLK from usb_1 node to avoid U-Boot clock warnings */
		usb_1: usb@a6f8800 {
			/delete-property/ clocks;
			/delete-property/ clock-names;
			/* Keep only the clocks that are implemented in U-Boot clock driver */
			clocks = <&gcc GCC_CFG_NOC_USB3_PRIM_AXI_CLK>,
				 <&gcc GCC_USB30_PRIM_MASTER_CLK>,
				 <&gcc GCC_AGGRE_USB3_PRIM_AXI_CLK>,
				 <&gcc GCC_USB30_PRIM_SLEEP_CLK>,
				 <&gcc GCC_USB30_PRIM_MOCK_UTMI_CLK>;
			clock-names = "cfg_noc", "core", "iface", "sleep", "mock_utmi";
		};

	};
};

&i2c2 {
        /delete-property/ power-domains;
        clock-frequency = <400000>;
        status = "okay";

        ioexp: gpio@3e {
                compatible = "semtech,sx1509q";
                reg = <0x3e>;
                interrupt-parent = <&tlmm>;
                interrupts = <58 0>;
                gpio-controller;
                #gpio-cells = <2>;
                interrupt-controller;
                #interrupt-cells = <2>;
                semtech,probe-reset;
        };

        i2c-mux@77 {
                compatible = "nxp,pca9542";
                reg = <0x77>;
                #address-cells = <1>;
                #size-cells = <0>;
        };

};
